<html>
    <head>
        <title>TODO app</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.1.js"></script>
    </head>
    <body>
        <h1>Things to do</h1>
        <ol>
            <li>
                <input type= "checkbox">
                 <a href="show.html">A drink</a>
                 <span class="pomodoro-estimate"> 1 pomodoro</span>
            </li>
            <li>
                <input type= "checkbox">
                 A burger 
                 <span class="pomodoro-estimate">1 pomodoro</span>
                 
            </li>
            <li>
                <input type= "checkbox">
                Finish things
                <span class="pomodoro-estimate">1 pomodoro</span>
            </li>
        </ol>
         <div id="new-todo-block">
      <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo...">
      <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
      <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
    </div>
    </body>

</html>